<div class="space">
    <form>
        <br>
        <h3 class="mt-4">Dar de alta provedores</h3>
        <br>

        <div class="my-5 row">
            <div class="col-2">
                <label class="form-label">Nombre</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" required>
            </div>
        </div>

        <div class="my-5 row">
            <div class="col-2">
                <label class="form-label">Estado</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" required>
            </div>
        </div>

        <div class="my-5 row">
            <div class="col-2">
                <label class="form-label">Telefono</label>
            </div>
            <div class="col-6">
                <input type="number" id="tel" class="form-control" required>
            </div>
        </div>

        <div class="my-5 row">
            <div class="col-2">
                <label class="form-label">RFC</label>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" required>
            </div>
        </div>

        <div>
            <button type="submit" class="btn me-5">Dar de alta</button>
            <!-- Agregar el router link a una pagina con todos los provedores -->
            <button type="button" class="btn" routerLink="/admin">Administrar</button>
        </div>
    </form>
</div>