<nav class="navbar navbar-expand-sm">
    <div class="container-fluid w-100" style="height: 100px;">

        <div>

            <button class="btn btn-outline-success tog me-5" type="button" data-bs-toggle="collapse" (click)="toggleSideBar()">
                <i class="fas fa-sliders-h"></i>
            </button>

            <img src="../../../assets/Logo2.png" alt="">
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>
</nav>


<div class="d-flex animate__animated animate__fadeInLeft" class="sidebar">

    <a routerLink='prod' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item" style="padding-top: 8px;">Productos</a>
    <a routerLink='prov' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item" style="margin-top: 40px; padding-top: 8px;">Provedores</a>
    <a routerLink='invent' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item" style="padding-top: 8px; margin-top: 40px;">Inventario</a> padding-top: 8px;
</div>