.reg {
    border-radius: 50px;
}

.space {
    box-shadow: 10px 10px 20px grey;
    text-align: center;
    height: 550px;
    width: 70%;
    margin: 100px auto;
}

.show {
    height: auto;
    width: 60%;
}

.image {
    margin: auto;
}

.image>input {
    display: none;
}

.image img {
    width: 80%;
    height: auto;
    cursor: pointer;
}

h3 {
    color: rgb(15, 87, 136);
}

.sub {
    background-color: rgb(199, 199, 199);
    box-shadow: 1px 10px 15px rgb(102, 102, 102);
    font-size: 18px;
    border-radius: 50px;
    font-weight: 500;
}

input {
    box-shadow: 5px 10px 5px rgb(197, 197, 197);
}