<button type="button" class="btn btn-outline-success  reg" routerLink="/prod">
    <i class="fas fa-arrow-left"></i>
</button>

<div class="space">

    <br>
    <h3 class="my-4">Agregar Producto</h3>

    <div class="row">

        <div class="col-6 image">

            <label for="upload">
                <img [src]="url" height="auto" class="show"> <br/>
            </label>
            <input type="file" id="upload" class="mt-5" (change)="onSelectFile($event)">

        </div>

        <div class="col-6">

            <form>

                <div class="my-4 row">
                    <div class="col-4">
                        <label class="form-label">Nombre</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" required>
                    </div>
                </div>

                <div class="my-4 row">
                    <div class="col-4">
                        <label class="form-label">Descripcion</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" required>
                    </div>
                </div>

                <div class="my-4 row">
                    <div class="col-4">
                        <label class="form-label">Id</label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder=" {{id}} " disabled>
                    </div>
                </div>

                <div class="my-4 row">
                    <div class="col-4">
                        <label class="form-label">Precio Compra</label>
                    </div>
                    <div class="col-6">
                        <input type="tel" class="form-control" required>
                    </div>
                </div>

                <div class="my-4 row">
                    <div class="col-4">
                        <label class="form-label">Precio de venta</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" required>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn me-5 sub">Dar de alta</button>
                </div>
            </form>

        </div>
    </div>
</div>