<button type="button" class="btn btn-outline-success  reg" routerLink="/prod">
    <i class="fas fa-arrow-left"></i>
</button>

<div class="mt-5">

    <div class="row">
        <div class="col">
            <img src="../../../assets/upload2.png" alt="">
        </div>

        <div class="col ms-5">
            <h3 class="mb-5">Nombre</h3>
            <p class="mb-5" justify-content-center>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laboriosam molestiae modi libero ducimus beatae quae reiciendis alias qui obcaecati! Recusandae quisquam minus ipsum labore veniam dolorum corporis nostrum fugit?
            </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Provedores
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>